@model ViewModel

@{
    ViewData["Title"] = "Advertisement";
}

<!-- All Advertisement start -->
<section id="advertisement" ng-app="App" >
    <div class="container" ng-controller="AppController">
        <div class="row head">
            <div class="col-12" style="padding:10px;">
                <span ng-click="Tab='1'" class="ml-2  " ng-class="{selected:Tab=='1'}" style="cursor:pointer">Yeni</span>
                <span ng-click="Tab='2'" class="ml-2  " ng-class="{selected:Tab=='2'}" style="cursor:pointer">Təsqidlənmiş</span>
                <span ng-click="Tab='3'" class="ml-2    " ng-class="{selected:Tab=='3'}" style="cursor:pointer">Silinmiş</span>
            </div>
            <div ng-show="Tab=='1'" class="col-12">
                @if (Model.Advertisements.Where(x => x.IsConfirmed == false && x.IsDeleted==false).Count() == 0)
                {
                    <div class="row Advertisement-place justify-content-center  ">
                        <h2 style="color:black!important"> Hal hazırda elan yoxdur</h2>
                    </div>
                }
                else
                {
                    <div class="row Advertisement-place justify-content-center AllConfirmedAdvertisemenet">
                        @foreach (var item in Model.Advertisements.Where(x => x.IsConfirmed == false).OrderByDescending(x => x.PublishDate).Take(20))
                        {
                            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                                <i class="fas fa-heart heart fa-2x d-none"></i>
                                <i class="far fa-heart heart fa-2x"></i>
                                <a asp-area="Admin" asp-controller="Elan" asp-action="Təsdiqləmə" asp-route-id="@item.Id">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="img">
                                                <img src="~/images/Advertisement/@item.Images.FirstOrDefault(x => x.AdvertisementId == item.Id && x.IsMainPhoto == true).Name" class="img-fluid w-100" style="opacity:0.4">
                                                @if (item.PropertyCategory.Id == 1)
                                                {
                                                    <div class="Rent">Satış</div>
                                                }
                                                else
                                                {
                                                    <div class="Sell">Kirayə</div>
                                                }
                                                <div class="Price">@item.Price Azn</div>
                                                @if (item.PropertyDocument.Id == 6)
                                                {
                                                    <i class="fas fa-file-signature document fa-1x"></i>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="about-advertisement">
                                                <div class="location">
                                                    <div class="col-12 p-0">
                                                        @if (item.CityId == 10)
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.Region.Name
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.City.Name
                                                        }
                                                    </div>
                                                </div>
                                                @if (item.CategoryId == 1)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 2)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 4)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 3)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 5)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 6)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 7)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area m<sup>2</sup> </span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 8)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area sot </span> |
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                <div class="date">
                                                    <span>@item.City.Name,</span>
                                                    <span>@String.Format("{0:MM/dd/yyyy}", item.PublishDate)</span>
                                                </div>
                                                @if (item.IsVip == true)
                                                {
                                                    <i class="fas fa-gem gem"></i>
                                                }
                                                else if (item.IsPremium == true)
                                                {
                                                    <i class="fas fa-crown premium"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row Advertisement-place justify-content-center">
                        <div class="load-more  mt-3 col-md-4 col-6 " data-aos="fade-left">
                            @if (Model.Advertisements.Where(x => x.IsConfirmed == false).Count() > 20)
                            {
                                <input type="hidden" value="20" id="AllConfirmedAdvertisemenet" />
                                <input type="hidden" value="@Model.Advertisements.Where(x => x.IsConfirmed == false).Count()" />
                                <a class="btn Btn-yellow  btn-block load-more-btn-AllConfirmedAdvertisemenet">
                                    <i class="fas fa-plus"></i> Daha  çox
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div ng-show="Tab=='2'" class="col-12">
                @if (Model.Advertisements.Where(x => x.IsConfirmed == true && x.IsDeleted == false).Count() == 0)
                {
                    <div class="row Advertisement-place justify-content-center  ">
                        <h2 style="color:black!important"> Hal hazırda elan yoxdur</h2>
                    </div>
                }
                else
                {
                    <div class="row Advertisement-place justify-content-center AllUnConfirmedAdvertisemenet">
                        @foreach (var item in Model.Advertisements.Where(x => x.IsConfirmed == true).OrderByDescending(x => x.PublishDate).Take(20))
                        {
                            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                                <i class="fas fa-heart heart fa-2x d-none"></i>
                                <i class="far fa-heart heart fa-2x"></i>
                                <a asp-area="Admin" asp-controller="Elan" asp-action="Təsdiqləmə" asp-route-id="@item.Id">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="img">
                                                <img src="~/images/Advertisement/@item.Images.FirstOrDefault(x=>x.AdvertisementId==item.Id && x.IsMainPhoto==true).Name" class="img-fluid w-100">
                                                @if (item.PropertyCategory.Id == 1)
                                                {
                                                    <div class="Rent">Satış</div>
                                                }
                                                else
                                                {
                                                    <div class="Sell">Kirayə</div>
                                                }
                                                <div class="Price">@item.Price Azn</div>
                                                @if (item.PropertyDocument.Id == 6)
                                                {
                                                    <i class="fas fa-file-signature document fa-1x"></i>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="about-advertisement">
                                                <div class="location">
                                                    <div class="col-12 p-0">
                                                        @if (item.CityId == 10)
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.Region.Name
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.City.Name
                                                        }
                                                    </div>
                                                </div>
                                                @if (item.CategoryId == 1)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 2)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 4)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 3)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 5)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 6)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 7)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area m<sup>2</sup> </span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 8)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area sot </span> |
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                <div class="date">
                                                    <span>@item.City.Name,</span>
                                                    <span>@String.Format("{0:MM/dd/yyyy}", item.PublishDate)</span>
                                                </div>
                                                @if (item.IsVip == true)
                                                {
                                                    <i class="fas fa-gem gem"></i>
                                                }
                                                else if (item.IsPremium == true)
                                                {
                                                    <i class="fas fa-crown premium"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row Advertisement-place justify-content-center">
                        <div class="load-more  mt-3 col-md-4 col-6 " data-aos="fade-left">
                            @if (Model.Advertisements.Where(x => x.IsConfirmed == true).Count() > 20)
                            {
                                <input type="hidden" value="20" id="AllUnConfirmedAdvertisemenet" />
                                <input type="hidden" value="@Model.Advertisements.Where(x => x.IsConfirmed == true).Count()" />
                                <a class="btn Btn-yellow  btn-block load-more-btn-AllUnConfirmedAdvertisemenet">
                                    <i class="fas fa-plus"></i> Daha  çox
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div ng-show="Tab=='3'" class="col-12">
                @if (Model.Advertisements.Where(x => x.IsDeleted == true).Count() == 0)
                {
                    <div class="row Advertisement-place justify-content-center  ">
                        <h2 style="color:black!important"> Hal hazırda elan yoxdur</h2>
                    </div>
                }
                else
                {
                    <div class="row Advertisement-place justify-content-center AllDeletedAdvertisemenet">
                        @foreach (var item in Model.Advertisements.Where(x => x.IsDeleted == true).OrderByDescending(x => x.PublishDate).Take(20))
                        {
                            <div class="col-lg-3 col-md-6 col-sm-9  col-10 mt-3" data-aos="fade-up">
                                <i class="fas fa-heart heart fa-2x d-none"></i>
                                <i class="far fa-heart heart fa-2x"></i>
                                <a asp-area="Admin" asp-controller="Elan" asp-action="Təsdiqləmə" asp-route-id="@item.Id">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="img">
                                                <img src="~/images/Advertisement/@item.Images.FirstOrDefault(x => x.AdvertisementId == item.Id && x.IsMainPhoto == true).Name" class="img-fluid w-100" style="filter: blur(5px);">
                                                @if (item.PropertyCategory.Id == 1)
                                                {
                                                    <div class="Rent">Satış</div>
                                                }
                                                else
                                                {
                                                    <div class="Sell">Kirayə</div>
                                                }
                                                <div class="Price">@item.Price Azn</div>
                                                @if (item.PropertyDocument.Id == 6)
                                                {
                                                    <i class="fas fa-file-signature document fa-1x"></i>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="about-advertisement">
                                                <div class="location">
                                                    <div class="col-12 p-0">
                                                        @if (item.CityId == 10)
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.Region.Name
                                                        }
                                                        else
                                                        {
                                                            <i class="fas fa-map-marker-alt"></i> @item.City.Name
                                                        }
                                                    </div>
                                                </div>
                                                @if (item.CategoryId == 1)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 2)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 4)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 3)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 5)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 6)
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 7)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area m<sup>2</sup> </span>
                                                    </div>
                                                }
                                                else if (item.CategoryId == 8)
                                                {
                                                    <div class="detail">
                                                        <span> @item.Area sot </span> |
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="detail">
                                                        <span>@item.Room.Count otaqlı </span> |
                                                        <span> @item.Area m<sup>2</sup> </span> |
                                                        <span> @item.Floor.Count/@item.Rank.Count m</span>
                                                    </div>
                                                }
                                                <div class="date">
                                                    <span>@item.City.Name,</span>
                                                    <span>@String.Format("{0:MM/dd/yyyy}", item.PublishDate)</span>
                                                </div>
                                                @if (item.IsVip == true)
                                                {
                                                    <i class="fas fa-gem gem"></i>
                                                }
                                                else if (item.IsPremium == true)
                                                {
                                                    <i class="fas fa-crown premium"></i>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row Advertisement-place justify-content-center">
                        <div class="load-more  mt-3 col-md-4 col-6 " data-aos="fade-left">
                            @if (Model.Advertisements.Where(x => x.IsDeleted == true).Count() > 20)
                            {
                                <input type="hidden" value="20" id="AllDeletedAdvertisemenet" />
                                <input type="hidden" value="@Model.Advertisements.Where(x => x.IsDeleted== true).Count()" />
                                <a class="btn Btn-yellow  btn-block load-more-btn-AllDeletedAdvertisemenet">
                                    <i class="fas fa-plus"></i> Daha  çox
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
     </div>
 </section>
<!-- All Advertisement end -->
