@model EditAgentPRofileViewModel

@{
    ViewData["Title"] = "ƏmlakçıDüzəlişEt";
}

<form enctype="multipart/form-data" method="post">
    <!-- EditUser start -->
    <section id="Register">
        <div class="container">
            <div class="col-12 validation-error" asp-validation-summary="ModelOnly"></div>
            <div class="row my-4">
                <div class="col-12">
                    <h2>Profilinə düzəliş et</h2>
                </div>
            </div>
            <div class="Agents-div-a ">
                <div class="row ">
                    <div class="col-md-6  col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Əmlakçının adı" asp-for="Firstname" value="@ViewBag.FirstName">
                                    <div class="validation-error">
                                        <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="Firstname"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <select class="form-control my-2 p-2" asp-for="NumberKeyCodeId"
                                                asp-items="@(new SelectList(ViewBag.NumberKeyCode, "Id", "Kcode",ViewBag.NumberKeyCodeId))"></select>
                                    </div>
                                    <div class="col-8">
                                        <input class="form-control my-2 p-2" placeholder="Nömrə" asp-for="PhoneNumber" value="@ViewBag.PhoneNumber">
                                        <div class="validation-error my-2 p-2">
                                            <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="PhoneNumber"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row  d-none plus-div">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <select class="form-control mt-2" asp-for="NumberKeyCodeSecondId"
                                                    asp-items="@(new SelectList(ViewBag.NumberKeyCodeSecond, "Id", "Kcode",ViewBag.NumberKeyCodeSecondId))"></select>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group position-relative">
                                            <input type="text" class="form-control   mt-2" placeholder="Növbəti nömrə" asp-for="SecondPhonenumber" value="@ViewBag.SecondPhonenumber">
                                            <div class="validation-error">
                                                <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="SecondPhonenumber"></span>
                                            </div>
                                        </div>
                                        <span class="ft-s"><i class="fas fa-window-close close-input"></i></span>

                                    </div>
                                </div>
                                <div class="col-12 p-0">
                                    <div class="add-phoneNumber Yellow-bg  mt-2  ">
                                        <i class="fas fa-plus mr-3"></i>Əlavə nömrə
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  col-12">
                        <div class="form-group">
                            <textarea asp-for="Agencyabout" value="@ViewBag.Agencyabout" class="form-control" rows="8" name='awesome' placeholder="Əmlakçı haqqında">ViewBag.Agencyabout</textarea>
                            <div class="validation-error">
                                <i class="fas fa-exclamation-triangle mr-2 d-none"></i>
                                <span asp-validation-for="Agencyabout"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control my-2 p-2" placeholder="Email" asp-for="Email" value="@ViewBag.Email">
                        <div class="validation-error my-2 p-2">
                            <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 order-2 order-md-0">
                        <input class="form-control my-2 p-2" placeholder="Cari şifrə" asp-for="CurrentPassword">
                        <div class="validation-error my-2 p-2">
                            <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="CurrentPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 order-2 order-md-0">
                        <input class="form-control my-2 p-2" placeholder="Yeni şifrə" asp-for="NewPassword">
                        <div class="validation-error my-2 p-2">
                            <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="NewPassword"></span>

                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 col-12 about-city">
                        <div class="form-group ">
                            <label for="">Rayon</label>
                            <select class="form-control " asp-items="@(new SelectList(ViewBag.Regions, "Id", "Name",ViewBag.RegionId))" asp-for="RegionId"></select>
                            <div class="validation-error">
                                <i class="fas fa-exclamation-triangle mr-2 d-none"></i><span asp-validation-for="RegionId"></span>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.UserImageUrl != null)
                    {
                        <div class="col-md-6 col-12 order-2 order-md-0">
                            <div class=" d-flex justify-content-center ">
                                <div class="col-lg-5 col-md-10 col-6 position-relative p-0">
                                    <img class="img-fluid img-condition rounded w-100" src="~/Images/Agent/@ViewBag.AgencyImageUrl " />

                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for=""></label>
                            <div class="Imgae-download text-center btn btn-block my-2 orange">
                                <i class="fas fa-upload mr-3"></i> Şəkil yüklə
                                <input hidden class="img-advertisement-down" asp-for="AgencyPhoto">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (ViewBag.AgencyImageUrl != null)
                    {
                        <div class="col-md-6 col-12 order-2 order-md-0">
                            <div class=" d-flex justify-content-center ">
                                <div class="col-lg-5 col-md-10 col-6 position-relative p-0">
                                    <img class="img-fluid img-condition rounded w-100" src="~/Images/Agent/@ViewBag.AgencyImageUrl " />

                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-6 col-12 order-2 order-md-0">
                        <div class="row Image-download-area justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class=" form-control mt-2 btn-block green-bg register my-2" value="Təsdiqlə">
            </div>
</section>
</form>
